databases/criacao_159_db.py
databases/criacao_db.py
databases/rlEstabServClass202411.csv
databases/rlEstabServClass202502.csv
.env

# Folder with .csv files
assets/

# Python compilled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Coverage tests (pytest-cov)
htmlcov/
.coverage
.coverage.*

# Cache from pytest
.pytest_cache/

# File not needed for the api
src/interfaces/report_generator.py